---
title: Welcome to Earth
---
<div class="col-5-12">
	<%= partial "partials/header" %>
</div>
<div class="col-4-12">
	<%= partial "partials/home/masthead" %>
</div>
<div class="col-3-12">
	<%= partial "partials/home/glider" %>
</div>
<%= partial "partials/home/big-fucking-content" %>
<%= partial "partials/footer" %>